<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>        
        <section id="order_prescription" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
            <class>separator-top</class>
            <label>Order Prescription</label>
            <tab>customer</tab>
            <resource>Webbureau_Custom::config_op</resource>
            <group id="general" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                <label>General</label>
                <field id="recipient_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Email To</label>
                    <validate>validate-email</validate>
                </field>
                <field id="recipient_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name</label>                    
                </field>                
                <field id="email_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>            
        </section>
    </system>
</config>
