<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <order_prescription>            
            <general>
                <recipient_name>Example</recipient_name>
                <recipient_email>hello@example.com</recipient_email>              
                <email_template>order_prescription_general_email_template</email_template>
            </general>
        </order_prescription>
    </default>
</config>
